//- #########################################################

	ファイル概要：HEAD要素用ファイル

	#########################################################

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

//- タイトルとキーワード、デスクリプション
title #{page.title} - #{site_name}
meta(content=page.description, name="description")
meta(content=page.keywords, name="keywords")

//- OGP
meta(content=site_name, property="og:site_name")
meta(content=page.title, property="og:title")
meta(content=page.description, property="og:description")
meta(content=(key == "top" ? "website" : "article"), property="og:type")
meta(content=domain + page.url, property="og:url")
meta(content=domain + page.image, property="og:image")
meta(content="ja_JP", property="og:locale")

//- favicon
link(rel="icon" href="/favicon.ico")
//- link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")

//- CSSの読み込み
link(rel="stylesheet", href=css_path+"/"+cssfile)